<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019719663138-7b33brh2rrf1o6t20dadjudcuecn5f5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019719663138-7b33brh2rrf1o6t20dadjudcuecn5f5m</string>
	<key>API_KEY</key>
	<string>AIzaSyCODy_3-qhJxVHkyop6pShKXwD595WlBVc</string>
	<key>GCM_SENDER_ID</key>
	<string>1019719663138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mhbravco.cowcardfile</string>
	<key>PROJECT_ID</key>
	<string>cowcardfile-b31b6</string>
	<key>STORAGE_BUCKET</key>
	<string>cowcardfile-b31b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019719663138:ios:0fe44454aa2c78a927147b</string>
</dict>
</plist>